@use "../settings/index.scss" as *;

body {
  font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
  background-color: #000;
  color: #fff;
}

.pc-only {
  @include media(sp) {
    display: none !important;
  }
  @include media(pc) {
    display: block;
  }
}

.sp-only {
  @include media(sp) {
    display: block;
  }
  @include media(pc) {
    display: none !important;
  }
}
